/* { 
	box-sizing: border-box;
/* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure
(par défaut, c'est seulement la largeur du contenu) */

html {
	font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
	font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
}

/* *****************************************************************
GENERALITES
***************************************************************** */

/* Le corps du document */
body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

/* Le titre principal d'un flux */
h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 4rem;
	color: black;
}

/* Le titre de second niveau  */
h2 {
	font-family: 'Kaushan Script', cursive;
	font-size: 3.5rem;
	color: black;
}

/* Le titre de troisème niveau */
h3 {
	font-size: 3rem;
	color: red;
}

/* Les liens */
a {
	text-decoration: none;
	color: #DD5735;
}

/* Ajout d'un élément de décoration au survol */
a:hover {
	text-decoration: underline;
	color: #000;
}

/* Contenu principal */
main {
	padding: 2em;
	text-align: center;
}

/* Les articles */
article {
	font-family: sans-serif;
	color: red;
	text-align: center;
	background-color: #fff;
	padding: 1em;
}

/* marge entre les sections */
section + section {
	margin-top: 2em;
}

/* *****************************************************************
CONTAINER
***************************************************************** */

/* Le container permet de limiter la largeur d'un contenu */
.container {
	max-width: 1100px; /* On donne une largeur au container */
	margin-left: auto; /* On centre son contenu */
	margin-right: auto;
}

/* *****************************************************************
MAIN LAYOUT
***************************************************************** */

/* L'entête de la page */
.header {
	font-family: 'Kaushan Script', cursive;
	padding: 1em;
	text-align: center;
	background-image: url('tinos.jpg');
	background-repeat: no-repeat;
	/* background-size: contain; */
	background-size: cover;
}

/* Le pied de page */
.footer {
	padding: 2em;
	text-align: center;
	color: #fff;
}

/* ****************CARDS********************* */

.card,
.cards > * {
	text-align: center;
	padding: 2em;
	color: black;
	background-color: #8b97c9;
	border: 1px solid rgba(0,0,0,0.2);
}

.gutter > * {
	margin: 1em;
}

/* *****************************************************************
FORM
***************************************************************** */

/* Style pour une barre d'outils => ou placer les boutons */
.toolbar {
	padding: 1em 2em;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0.5em;
}

/* Style de chaque groupe de champs (fieldset) */
fieldset {
	margin: 2em 0;
	padding: 1em;
	font-size: 1.6rem;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0.5em;
}

legend {
	padding: 0 1em;
	font-size: 1.8rem;
}

/* Style de chaque champ (field) */
.field {
	display: flex;
	padding: 1em 0;
}

.field label {
	width: 30%;
}

.field .value {
	width: 70%;
}

.field input {
	width: 100%;
}

.field + .field {
	border-top: 1px solid rgba(0,0,0,0.2);
}

/* Style de chaque libélé */
label {
	padding: 0.5em;
}

/* Style de chaque input */
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type*="date"],
select,
textarea {
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 1.6rem;
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0.5em;
}
select,
textarea {
	width: 100%;
}
textarea {
	display: block;
	min-height: 10em;
}

/* Style de chaque bouton */
.button {
	display: inline-block;
	padding: 1em 2em;
	font-size: 1.6rem;
	color: #fff;
	background-color: #DD5735;
	border: 2px solid #DD5735;
	border-radius: 0.5em;
	cursor: pointer;
}

.button:hover {
	text-decoration: none;
	color: #DD5735;
	background-color: #fff;
}

/* *****************************************************************
TABLE
***************************************************************** */

.table {
	width: 100%;
	border-collapse: collapse;
}
.table caption,
.table th,
.table td {
	padding: 1em;
	border: 1px solid #ddd;
}
.table thead {
	border-bottom: 2px solid #999;
}
.table tfoot {
	border-top: 2px solid #999;
}
.table tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.1);
}

/* **********************VARIOUS******************************** */

/* Utile pour mettre en évidence un parent */
.parent {
	border: 1px dashed #DD5735;
}

/* Utile pour mettre en forme du code informatique */
.code {
	padding: 0.5em;
	font-family: Monaco, monospace;
	font-size: 14px;
	color: #000;
	background-color: #ddd;
	border: 1px solid #bbb;
}

.mou {
    width: 400px;
}

/* JAVA */

input[type='text'] {
    text-transform:uppercase;
}
/* *****************************************************************
MOBILE
*****************************************************************

@media screen and (max-width: 780px) {
	.intro p {
		font-size: 2rem;
		margin: 0 8rem;
		padding: 1rem;
		text-align: center;
	}
	article, 
	.partners {
		width: 100%;
	}
	.plus {
		margin: 2rem 10rem;
	}
	aside {
		flex-direction: column;
	}
	.comments, 
	.tweets {
		width: 100%;
	}
	footer .wrapper {
		flex-direction: column-reverse;
	}
	footer .logo {
		flex-direction: column;
		align-items: center;
	}
	.reseaux {
		margin-bottom: 3rem;
	}
}

/* *****************************************************************
PETITS MOBILES
*****************************************************************

@media screen and (max-width: 630px) {
	nav ul {
		flex-direction: column;
		align-items: center;
	}
	nav li {
		width: 100%;
	}
	nav li a {
		display: block;
		text-align: center;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		margin-left: 0;
	}
	nav li a:hover {
		border-top: 1px solid #00748D ;
		border-bottom: 1px solid #00748D ;
	}	
	.real h1, .actu h1 {
		text-align: center;
		line-height: 1.5;
	}
}
*/


